[2020-03-12 18:51] Joeskyyy opened #387 "synk-monitor version in Charts.yaml does not update with version in upstream repo"
When new chart versions are published, they do not match the version in the upstream repo.

e.g. right now the Chart.yaml reflects version `0.1.0` but the upstream is `1.22.01

Small nit on my part here, but sometimes I like to go spelunking into the code (looking at `values.yaml` etc) and look at the chart version to know what to start playing with. As it stands right now, to understand what a sp

[2020-03-13 07:40] ivanstanev commented on #387
Hey @Joeskyyy, I think the release process is not fully documented unless you go looking at the CircleCI config!
Right now we publish our Helm releases to GH Pages: https://snyk.github.io/kubernetes-monitor/snyk-monitor/
You can see all the releases of the chart by checking out the `gh-pages` branch: https://github.com/snyk/kubernetes-monitor/tree/gh-pages
All the released Charts will be listed th

[2020-03-15 17:10] shaimendel commented on #387
@Joeskyyy thank you for contributing and validating our product :)
please let us know if you have any further question, or we can close the issue otherwise

[2020-03-16 06:30] Joeskyyy commented on #387
Hey folks,

I think we're mostly safe to close this out yeah. But I would maybe request updating the existing documentation to point to stuff like this in the README.md? It seems like a bit of the information is unintentionally hard to find and known only to the Snyk folks, so folks who want to contribute are a little limited in our understanding.

Another example is the PR template links to dead

[2020-03-16 06:30] #387 closed

[2020-08-10 09:42] adhodgson1 opened #531 "Ability to specify nodeSelector in the Helm chart"
Can we get the ability to specify the nodeSelector in the Helm chart? This would be handy where we want the monitor to run on a specific set of machines. At present this facility is not available.

[2020-08-10 09:56] ivanstanev commented on #531
Hey 👋 Sure thing, we will add it to our backlog! Can't give an exact estimate when we will pick it up but perhaps in the next few weeks! Alternatively if this is something you would like done sooner we are also happy to accept a PR

[2020-08-13 10:20] shaimendel commented on #531
This issue is solved in https://github.com/snyk/kubernetes-monitor/releases/tag/v1.31.0 - thank you for the contribution @adhodgson1!

[2020-08-13 10:20] #531 closed

[2020-09-22 01:47] paulgear opened #566 "Helm chart no longer at https://snyk.github.io/kubernetes-monitor"
https://github.com/snyk/kubernetes-monitor/tree/staging/snyk-monitor states that the URL for the Helm chart should be https://snyk.github.io/kubernetes-monitor, yet this URL produces a 404.  Could the site please be fixed, or the documentation updated with the correct URL?
Thanks.

[2020-09-22 08:25] shaimendel commented on #566
Hi @paulgear - thanks for reaching out!
the address is actually ok, the files are directly accessible - for example:
* https://snyk.github.io/kubernetes-monitor/snyk-monitor/values.yaml
* https://snyk.github.io/kubernetes-monitor/snyk-monitor/templates/deployment.yaml

[2020-09-22 08:29] shaimendel commented on #566
BTW - the branch that is accessible via those GitHub pages is `gh-pages` that can be seen in https://github.com/snyk/kubernetes-monitor/tree/gh-pages

[2020-09-22 08:37] paulgear commented on #566
Hi @shaimendel - thanks for the quick response.  We were seeing errors (404s, if I remember correctly) when attempting to deploy from this chart, so I'll investigate again when I get to work tomorrow.

[2020-09-22 16:09] shaimendel opened #567 "Test issue! don't panic"

[2020-09-22 16:09] #567 closed

[2020-09-22 16:21] shaimendel commented on #566
just to be on the safe side - making sure you have our updated docs https://support.snyk.io/hc/en-us/articles/360003916158-Install-the-Snyk-controller-with-Helm

[2020-09-23 02:19] paulgear commented on #566
Thanks @shaimendel - we're deploying in Azure DevOps via Terraform, so we're not running kubectl & helm manually like that.  The exact error message we're seeing is:
`Error: chart "snyk-charts" version "1.32.3" not found in https://snyk.github.io/kubernetes-monitor/ repository`
Does this mean that older versions are removed from your repo as soon as they are superseded?

[2020-09-23 07:03] shaimendel commented on #566
I managed to install now 1.32.3 (which is the latest) with `helm`. a few questions:
- do you maybe need to run the equivalent of `helm repo update` to get the latest charts before trying to install it?
- the chart name is `snyk-monitor` within that helm chart folder. that's why the helm command is `helm upgrade --install snyk-monitor snyk-chart/snyk-monitor ...`. the **snyk-chart/snyk-monitor** is

[2020-09-23 08:55] redbaron opened #568 "Add support for and/or document credHelper dockerconfig option"
When running inside GKE cluster with Workload Identity enabled following docker config enabled access to the registry without managing static credentials:

[code]

It would be great if snyk-monitor image and helm chart contained gcloud CLI tool and supported this mode of operation

[2020-09-24 20:41] gysiedebruyn commented on #566
@paulgear & @shaimendel it seems like this issues lies with how Terraform does the installation. I have been able to install snyk-monitor but ran into issues with our policies due to the inability to add/change existing labels. I have raised this with Loukas and Eitan directly.

I think we can close this issue.

@shaimendel just some background, @paulgear and I are colleagues and work together on

[2020-09-24 23:07] #566 closed

[2020-09-24 23:36] Joeskyyy opened #571 "CHANGELOG.md"
Hey folks, just curious if there are any changelogs published for the helm charts somewhere? Looking to do some upgrades and couldn't find any for the version changes.

[2020-09-25 09:30] agatakrajewska commented on #571
Hi @Joeskyyy!

We don't have a changelog file at the moment, although it's not out of the question we will in the future.
Currently you can see version changes browsing the commits thought the github releases only.

Hope that helps,
Agata

[2020-09-25 09:30] #571 closed

[2020-09-28 07:49] shaimendel commented on #568
Hi @redbaron, thank you for raising this!
As far as you know - doing the two steps you mentioned (specifying the above docker config + having the gcloud CLI locally) is enough? no gcloud commands needs to be run in the container? (like `gcloud auth` etc)

[2020-10-16 08:12] garethr opened #574 "Out-of-date Helm Operator image"
The [Operator Dockerfile](https://github.com/snyk/kubernetes-monitor/blob/staging/snyk-operator/build/Dockerfile#L1
) is pinned to an old image, quay.io/operator-framework/helm-operator:v0.15.1.

This is now fairly out of date, the latest version being v1.1.0.

This results in vulnerabilities being picked up by https://artifacthub.io/packages/olm/community-operators/snyk-operator and by Snyk.

[2020-10-19 17:03] #574 closed

[2020-10-19 17:15] snyksec commented on #574
:tada: This issue has been resolved in version 1.34.1 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.34.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-26 09:52] redbaron commented on #568
@shaimendel , no  need to run any commands, as long as `gcloud` CLI is present it works out of the box

[2021-02-08 12:54] gaetanars opened #654 "Report cronjobs workload"
Is it possible to scan cronjobs workload with Snyk monitor?

Only Daemonset, Deployment or Statefulset was send in our snyk Kubernetes integration.

[2021-02-08 16:01] ivanstanev commented on #654
Hey @gaetanars 👋

We currently do support CronJobs, we support all the native Kubernetes workloads. However, right now we support the `batch/v1beta1` API for CronJobs, as noted in this comment in the source: https://github.com/snyk/kubernetes-monitor/blob/f1b451bfd007a6764ace7a572b595bafd88a571e/src/supervisor/types.ts#L41-L43

Are you using CronJobs from a different Kubernetes API? Perhaps batch/

[2021-02-09 09:51] gaetanars commented on #654
Dear @ivanstanev,

I use `batch/v1beta1` in Kubernetes 1.19. It seems to work only with annotations.

I have installed snyk-monitor without modify any of our workloads, I can see deployment, statefulset or daemonset in the Snyk interface when I want to import project form Kubernetes integration, but I don't see CronJobs.

Yesterday I have annotated one of our CronJobs and it was automatically impo

[2021-02-09 09:51] #654 closed

[2021-02-22 15:46] DmitriyStoyanov opened #667 "helm upgrade failed with pvc.enabled but without pvc.storageClassName"
We faced with error:
`Error: UPGRADE FAILED: cannot patch "snyk-monitor-pvc" with kind PersistentVolumeClaim: PersistentVolumeClaim "snyk-monitor-pvc" is invalid: spec: Forbidden: is immutable after creation except resources.requests for bound claims`

with adding pvc.enabled but without setting pvc.storageClassName.

On first execution it takes default class, but on second upgrade it cannot chang

[2021-02-22 16:19] ivanstanev commented on #667
Hey @DmitriyStoyanov, thanks for raising this. A PR would be much appreciated but even if you can't create one we will try to handle it from our side in the next couple of weeks!

[2021-02-22 21:35] DmitriyStoyanov commented on #667
@ivanstanev could you review raised PR #668 ?

[2021-02-23 12:12] #667 closed

[2021-03-17 00:23] Niksko opened #684 "Snyk complains about this image because of vulnerabilities in Skopeo"
Snyk currently flags this image because it includes Skopeo. Skopeo's `go.sum` has a vulnerable version of `ulikunitz/xz`, the project but doesn't actually use this version (as verified by looking at the `vendor/modules.txt`).

The next release of Skopeo should not have this in the `go.sum`, which will fix Synk's issue with it. When possible, this project should update Skopeo.

[2021-03-17 01:36] jmickey commented on #684
Hi @Niksko! Thanks so much for raising this. We're aware of this issue and we're in the process of updating our dependencies to get this fixed up.

I'll leave this issue open for the moment and we'll let you know once we've sorted this out.

[2021-03-22 10:51] ivanstanev commented on #684
Hey @Niksko with PR https://github.com/snyk/kubernetes-monitor/pull/686 this should now be resolved :)

[2021-03-22 10:51] #684 closed

[2021-03-30 09:54] iordachelm opened #697 "Security context of InitContainer conflicts with psp enforced policy"
Starting with snyk-monitor version: 1.40.0 an InitContainer was added to deployment which requires : runAsNonRoot to be set to false.
At PSP level, it is enforced that flag: runAsNonRoot to be set to true
`  runAsUser:
    rule: MustRunAsNonRoot`

Following error is encountered due to this conflict:
` Warning  FailedCreate  14s (x14 over 55s)  replicaset-controller  Error creating: pods "snyk-moni

[2021-03-30 10:06] ivanstanev commented on #697
Thanks for raising this!
Very interesting that the integration tests don't catch this even though we enable the PSP 🤔

Do you have any suggestions how we can workaround this? We need to be able to `chmod` the volume mount so that we can clean it up from any stale data on start up. Unfortunately K8s mounts it as root...

[2021-03-30 11:35] iordachelm commented on #697
The easiest way is to make psp less restrictive and enhance chart to allow override the security context values for container using values.yaml. Drawback of this is that it removes the second line of defense :|

[2021-04-15 15:35] 0x91 commented on #568
we'd also like this for AWS which uses https://github.com/awslabs/amazon-ecr-credential-helper

[2021-04-20 09:26] dkontorovskyy commented on #568
@0x91 thanks for raising this!

I added your comment to our backlog ticket. We will try to schedule this work as soon as possible 🤗

[2021-04-29 11:23] rumi-spock opened #739 "snyk monitor unable to pull images when using PVC due to permission issues"
This might be related to #697 but using PVC (created by snyk monitor helm chart), I came across issue where snyk monitor was not able to write to` /var/tmp`. Not sure why but even with permissions set by init container it won't allow a a container running as non root to write to it. I think PVC mount perms work differently.

So I solved this is by setting fsgroup on pod level which worked i.e.

[c

[2021-04-29 15:31] jmickey commented on #739
Hi @rumi-spock, thanks for submitting this issue.

Can I confirm what version of the snyk-monitor you're running. This issue should actually have been fixed as part of #720 and should be in available on all versions above and including v1.50.6.

[2021-04-29 16:19] rumi-spock commented on #739
Hi @jmickey I am using 1.51.0 and I also tried 1.52.0 with perms being set to `go+rwX` but this still doesn't allow the pod to wrote to mounted PVC.

[2021-04-29 16:38] rumi-spock opened #741 "Pod restart every hour"
This is not really a bug but seems like what is now deployment should be actually a job. Right now pod restarts every hour and on each run it scans the containers, syncs with Snyk and then does nothing until it gets killed after an hour.
Firstly it should run as a job which once done will be marked as completed so you won't get a running idle container which eventually gets killed. Right now I hav

[2021-04-30 13:36] jmickey commented on #739
@rumi-spock No worries, thanks for letting us know. We'll look into it!

[2021-05-03 13:33] dkontorovskyy commented on #741
@rumi-spock 👋
We have a scheduled brainstorming in this area for the next week.

Currently what you see is actually 3rd library issues that led to this amount of restarts for the pod. We want to make sure this won't happen but want to do it properly. Bare with us 🤗

[2021-05-04 08:58] snyksec commented on #739
:tada: This issue has been resolved in version 1.53.2 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.53.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-04 09:35] jmickey commented on #697
Hi! @iordachelm

We recently released a change that removed the `initContainer`, this change is available in v1.53.2

[2021-05-04 14:02] 0x91 commented on #568
@dkontorovskyy I'm happy to have a go, I believe there is enough functionality present with skopeo and passing in the dockerConfig we just need the credential-helper built into the Docker container.

Understandably this does introduce some bloat. I see a PR open to add gcloud in https://github.com/snyk/kubernetes-monitor/pull/749

Would a PR to add the credential helper be acceptable? AFAIK the ve

[2021-05-04 14:49] dkontorovskyy commented on #568
@0x91 It's going to be next in work :) `gcould` goes in and `ecr` will be next

[2021-05-05 10:57] jmickey commented on #739
We had to rollback this change because it breaks OpenShift customers. We're investigating a way around this.

[2021-05-05 17:02] kat1906 commented on #568
@redbaron gcloud is in and ready to go if you want to try it out with the latest release 🎉

[2021-05-18 09:04] CamillaBLarsen commented on #741
We have the same issue - but also that it pressures the disk quite much, due to the frequent restarts.

[2021-05-18 12:49] iordachelm commented on #697
I've tried to deploy v1.53.2 and faced same error
`  Warning  FailedCreate  72s (x15 over 2m34s)  replicaset-controller  Error creating: pods "snyk-monitor-6f6ffb674-" is forbidden: unable to validate against any pod security policy: [spec.initContainers[0].securityContext.runAsNonRoot: Invalid value: false: must be true]`

Noticed also, that initContainer is present in later versions like: v1.53.

[2021-05-18 15:02] dkontorovskyy commented on #741
@rumi-spock @CamillaBLarsen could you try new `kubernetes-monitor` version and see if it helps, please?
Newly released version is `1.55.0`

[2021-05-18 18:43] sp3nx0r opened #765 "[🙏] Add metadata annotations to helm chart"
**Describe the user need**
We use kube2iam which requires annotation on pods to be able to get the assumed role to read ECR for images. Adding a template value to allow this to be set would be immensely helpful.

**Describe expected behaviour**
I'd like to be able to just set whatever metadata annotations on the deployment spec and it to be passed through in helm

[2021-05-19 10:25] CamillaBLarsen commented on #741
It's much more stable now, compared to the previous version.
Have a look, marked with red (orange) was version 1.54, marked with red (blue) is the current 1.55.
![image](https://user-images.githubusercontent.com/52245320/118797766-31cfa480-b89d-11eb-83bd-3000790eb4cd.png)

[2021-05-20 16:15] dkontorovskyy commented on #765
@sp3nx0r 👋
Thanks for the opening feature request!

We can add this to our backlog and work on it later.

If you're willing to create a PR, we can add this to the current offering and this will speed up the process 🙏

[2021-05-24 16:07] rumi-spock commented on #741
Thanks for fixing it. I have tested it with version 1.55.0 today and it looks good.

[2021-05-24 16:07] #741 closed

[2021-06-06 09:11] #765 closed

[2021-06-06 09:23] snyksec commented on #765
:tada: This issue has been resolved in version 1.64.0 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.64.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-10 11:44] richerve commented on #568
@dkontorovskyy any estimate on when the ecr-credential-helper can be included in the docker image? Maintaining a custom image just to include that it's difficult as there's no artifact published here so it basically requires copying the whole Dockerfile and building from scratch, just to add an extra `go get` for the ecr credentials, that is a method described in https://github.com/awslabs/amazon-

[2021-06-28 11:10] richerve opened #809 "[🐛] snyk-monitor Chart: Specify custom Configmap with rego policy for import/export"
- `kubernetes-monitor version: v1.64.1`
- `Cloud runtime: custom kops based`

### Expected behaviour

The helm chart `workloadPoliciesMap` value will allow to specify a configmap including custom rego policies under the `workload-events.rego` key. Changing that value in `values.yaml` must not have any effect in the included default policy.

### Actual behaviour

Here's a couple of options I have i

[2021-07-01 13:55] kat1906 commented on #809
Hi @richerve thanks for raising this issue.

I'll take it to the team and we'll get back to you 🙂

[2021-07-01 13:57] richerve commented on #809
I'm working in a PR already that I'm planning to submit, if that's ok

[2021-07-01 13:59] kat1906 commented on #809
Even better! Thanks

[2021-07-01 15:32] richerve commented on #809
@kat1906 https://github.com/snyk/kubernetes-monitor/pull/812

[2021-07-11 16:10] dkontorovskyy commented on #809
@richerve it's merged :) Can you go and check `v1.64.4`? :)

[2021-07-15 09:11] dkontorovskyy commented on #809
@richerve have you had any chance to check? 🤗

[2021-07-15 10:33] richerve commented on #809
yes, all looks good, thanks

[2021-07-15 15:08] dkontorovskyy commented on #809
Closing it as fixed :)

Reached you out via email to send you swag for the amazing PR you've opened!

[2021-07-15 15:08] #809 closed

[2021-07-18 11:54] dkontorovskyy commented on #739
@rumi-spock can you please check out `1.64.9` and see if it work for you? :)

[2021-07-25 13:40] #739 closed

[2021-08-09 14:47] chen-keinan commented on #568
@richerve a release with support of `ecr-credential-helper` has been published, if you want you can try it with our latest release

[2021-08-10 09:04] richerve commented on #568
Thank you, at the end I didn't use it as our k8s nodes already have a role to communicate with ecr, but I see a lot of value on adding this helper anyway for people not running in AWS or with a different credentials scheme

[2021-08-10 10:42] #568 closed

[2021-08-12 08:27] vmaillot opened #849 "[🙏] Revisit readiness and liveness probes for k8s deployment"
**Describe the user need**
Would it be possible to set effective liveness and readiness probe on the kubernetes-monitor [deployment](https://github.com/snyk/kubernetes-monitor/blob/staging/snyk-monitor/templates/deployment.yaml#L132-L139)?

**Describe expected behaviour**

At the moment, the kubernetes-monitor pod is always starting and working well. But in case of issues from the application itse

[2021-08-12 14:03] minsiyang commented on #849
Hi @vmaillot, thank you very much for raising this issue. I have brought it to the team's attention. I will get back to you as soon as we reach a decision 😄

[2021-08-17 15:12] JorritSalverda opened #853 "[🙏] Make workload_events value in default policy file configurable"
**Describe the user need**

I want `kubernetes-monitor` to auto-import and auto-delete my workloads. Unfortunately the `workload_events` value is hardcoded at https://github.com/snyk/kubernetes-monitor/blob/v1.66.2/snyk-monitor/templates/configmap.yaml#L34. A Helm value to set this - just like there is for `policyOrgs` - would be very helpful here.

[2021-08-17 15:18] JorritSalverda opened #854 "[🙏] Add optional secret to set dockercfg.json and integrationId"
**Describe the user need**

In order to avoid having to manually create a `snyk-monitor` secret with `dockercfg.json` and `integrationId` item it would be useful to have an optional secret for this in the Helm chart. Right now we have to create a secondary internal Helm chart to create this secret in an automated fashion.

**Describe expected behaviour**

The values could look something like the f

[2021-08-17 15:30] ivanstanev commented on #853
Hey @JorritSalverda

You can create your own ConfigMap with the custom rules that you need, then when installing with Helm you can point to your ConfigMap with [--set workloadPoliciesMap=my-custom-rules](https://github.com/snyk/kubernetes-monitor/blob/staging/snyk-monitor/values.yaml#L11-L13)

`policyOrgs`  was exposed for quickly setting up using the default rules, but for more advanced cases we

[2021-08-17 15:34] ivanstanev commented on #854
Hey @JorritSalverda

Are you deploying the snyk-monitor in a non-default namespace? How does your current two-chart deployment process look like? I would imagine you would need to create the namespace in the first place automatically (otherwise you cannot deploy the chart) but I'm trying to understand why the secret cannot be created in a similar way, e.g. `kubectl create namespace` and `kubectl c

[2021-08-17 15:45] JorritSalverda commented on #854
Hi @ivanstanev we're deploying snyk-monitor in namespace `snyk-monitor`.

We're using the [helmfile](https://github.com/roboll/helmfile) tool to deploy multiple Helm charts into different namespaces for all of our clusters. The `helmfile` tool automatically creates the namespace for us, so we never use `kubectl` for rolling out our baseline tooling to 50+ GKE clusters.

There's now 2 charts we dep

[2021-08-17 15:48] JorritSalverda commented on #853
@ivanstanev If you can provide an optional configmap in the `configmap.yaml` file configured via the Helm chart values that would work as well. Otherwise we have to create a configmap in advance either manually, or through an additional Helm chart.

Or perhaps set the default policy file at https://github.com/snyk/kubernetes-monitor/blob/staging/snyk-monitor/templates/configmap.yaml#L29 completely

[2021-09-01 11:08] camilamacedo86 opened #861 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-03 09:35] kat1906 commented on #861
Hi @camilamacedo86, thank you for bringing this to our attention. I have added this item to our triage backlog and it will be prioritised in due course. :)

[2021-09-15 12:04] ajchiarello opened #870 "[🙏] Allow setting ephemeral-storage requests/limits in the resources block"
**Describe the user need**
After deploying, I ran into an issue when snyk-monitor was scheduled to a node that did not have sufficient ephemeral-storage available. When I edited the deployment with an ephemeral-storage request (as described here: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#setting-requests-and-limits-for-local-ephemeral-storage), the pod schedule

[2021-09-20 16:08] minsiyang commented on #870
Hi @ajchiarello, thank you so much for your input. I have brought this request to the team and added a ticket in our triage backlog. I will update you as soon as I have more information on this :)

[2021-10-06 14:22] snyksec commented on #861
:tada: This issue has been resolved in version 1.68.0 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.68.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-14 08:42] vmaillot commented on #849
Hey @minsiyang,

Alright got it! The thing is we need a way to be sure that the applicatin is behaving like expected. This can be done with such `liveness` and `readiness` probes.

Now the question is, is the `snyk-monitor` already able to expose and endpoint that can be poked? Therefore we could use that endpoint as a probe.

Thanks for letting me know what do you guys think!

Have a nice day!

[2021-12-17 17:12] gabegorelick opened #968 "[🙏] Don't use mutable busybox:latest tag by default"
**Describe the user need**
I don't want my containers to break when an upstream vendor publishes a new `latest` image. I also don't want to be subject to a supply chain attack made easier by blindly pulling in a mutable container image tag.

**Describe expected behaviour**

Pin init container image to a fixed busybox tag. This is configurable by the end-user, but the chart should come out of the b

[2021-12-17 17:48] kat1906 commented on #968
Hi @gabegorelick , thank you very much for raising this issue. I will get back to you as soon as I have discussed it with the team. 😃

[2021-12-20 17:07] ivanstanev commented on #968
Hey @gabegorelick, changing to a specific tag won't make it less likely to be susceptible to supply chain attacks because tags are mutable. It is possible to pin to a specific SHA instead which would help prevent these types of attacks but we would have to do this for every asset that we depend on, with the tag being determined right after we push the image to the container registry (so that we un

[2021-12-20 17:24] gabegorelick commented on #968
TBH, I'm more concerned with the fact that use of `:latest` will get flagged by scanners, compliance checklists, etc. Pinning to any other (mutable) tag would be fine for me (I have my own processes for pinning to SHAs and vendoring images).

[2022-01-06 17:14] stephencoe opened #984 "[🙏] Make NetworkPolicy an optional resource"
**Describe the user need**
The network policy that comes with the monitor opens egress to the world.

We are currently using Cilium for all network policies within the cluster but it appears with both existing the cilium policy is respecting the network policy so this component has unrestricted egress.

**Describe expected behaviour**

Being able to disable the NetworkPolicy would allow us to cont

[2022-01-07 10:35] kat1906 commented on #984
Hi @stephencoe, thank you very much for raising this issue. I will get back to you as soon as I have discussed it with the team. 😃

We are more than willing to accept PRs if this is something you might be interested in assisting with!

[2022-01-07 10:43] stephencoe commented on #984
@kat1906 Thanks, I will submit a PR for this

[2022-01-12 13:52] minsiyang commented on #984
Hi @stephencoe , we just merged the PR today. If you use the latest snyk-monitor v1.79.0, you should be able to disable the networkPolicy now. Thank you for your contribution!  😄

[2022-01-12 13:53] #984 closed

[2022-02-09 11:32] ivanstanev commented on #968
Hey @gabegorelick unfortunately for now we cannot change the tag on `busybox:latest` because we also have an Operator for the snyk-monitor. When running on Red Hat, the Operator installs images from Red Hat's container registries. In there there is only a `latest` tag so we can't pin it to a specific version, otherwise we would be breaking the Red Hat Operator installation. We will keep an eye on

[2022-02-09 11:32] #968 closed

[2022-02-09 11:34] ivanstanev commented on #849
Hey @vmaillot closing this because we don't have a good candidate for setting liveness and readiness probes, as @minsiyang mentioned!

[2022-02-09 11:34] #849 closed

[2022-02-28 17:58] ajchiarello opened #1016 "[🙏] Allow setting the upgrade strategy in the helm chart"
**Describe the user need**
I would like to be able to set the upgrade strategy to 'Recreate' on the deployment, without setting up a persistent volume. Currently, the chart only changes this if a pvc is enabled.

**Describe expected behaviour**
I would like to be able to set the upgrade strategy in the helm values.

**Additional context**
On some of my clusters, the resources used by the monitor a

[2022-03-09 18:15] ivanstanev commented on #1016
Hey @ajchiarello I have opened https://github.com/snyk/kubernetes-monitor/pull/1023, could you have a look and let me know if this is the solution you were looking for?

[2022-03-09 19:29] ajchiarello commented on #1016
Yes, that looks great! Thanks!

[2022-03-10 12:24] #1016 closed

[2022-03-10 12:46] snyksec commented on #1016
:tada: This issue has been resolved in version 1.84.0 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.84.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-11 08:24] christophernruud opened #1030 "Ensure that snyk/kubernetes-monitor ships without major vulnerabilities [🙏]"
**Describe the user need**
Using kubernetes-monitor in our setup introduces vulnerabilities in the kubernetes clusters which we cannot remediate or know if affects the health of the cluster

**Describe expected behaviour**

Snyk should "eat their own dog food" ie not ship products with known critical/high vulnerabilities :)

**Additional context**

Add any other context or screenshots about the fe

[2022-03-11 11:07] ivanstanev commented on #1030
Hey @christophernruud! We're aware of the vulnerabilities and we definitely use our own product already to monitor for vulnerabilities.

Unfortunately, there are currently no fixes to any of these high severity vulnerabilities. We have been in touch with the Red Hat team to try and understand how to remediate them, since the vulnerabilities come from the base image. From what I understand there ar

[2022-03-11 11:11] christophernruud commented on #1030
@ivanstanev alpine seems to have a better track record for security updates in my experience, that could work. Until a remediation path is found, we are forced to just ignore the issues to keep the pipeline from getting spammed by un-fixable issues :)

[2022-03-11 12:14] ivanstanev commented on #1030
Yeah unfortunately we do the same, we manually have to review and ignore the issues until a fix is available...
We will discuss this with the team and s ee if we can prioritize releasing alternative base images. The alternative would likely become the default one so you don't have to switch to a different tag (e.g. `1.85.2-alpine` vs `1.85.2-ubi8`)

[2022-03-18 10:22] Starslider opened #1034 "[🐛] Snyk-Monitor crashes - could not read the snyk-monitor deployment unique id"
Hi Team

I am trying to get the snyk monitor up and running on AWS and VMware Tanzu but the container crashes immediately

- v1.85.2
- EKS

### Log
[code]

### Deploymentconfig
[code]

Can anyone help?

Best Dominik

[2022-03-18 10:30] ivanstanev commented on #1034
This is odd! And the log message is really unhelpful - it is coming from the [kubernetes client library](https://github.com/kubernetes-client/javascript/) that we use. It doesn't really tell us why the HTTP request failed... Is there anything specific about VMWare Tanzu that distinguishes it from other K8s distros? Does it have the standard Kubernetes API? Does it need special permissions to acces

[2022-03-18 10:39] Starslider commented on #1034
Thx for the quick reply @ivanstanev
No I am not aware that there is anything special - and the log above is from an AWS EKS v1.21 - it is the same behavior as on our onprem clusters with VMvare Tanzu with v1.19. I will try the deployment later on an Azure AKS as well. Keep you posted.

[2022-03-18 17:14] ivanstanev commented on #1034
When you say on-prem do you mean an environment disconnected from the internet, running your own instance of VMware Tanzu with self-signed certificates for HTTPS communication? Or do you mean simply installing the Snyk Monitor in the cloud under your own account (so no special certificates or anything like that)? I'm assuming it's the latter since you mentioned EKS, which is purely cloud based!

T

[2022-03-21 11:54] Starslider commented on #1034
Do not care about VMware Tanzu right now - can you try to deploy it on an AWS EKS? It's working on Azure AKS, but not on AWS EKS.

AWS:
[code]

Azure:
[code]

It has to be something with networking... we have no problems at all with networking on these clusters. VMware Tanzu behaves like AWS right now.

[2022-03-21 12:01] ivanstanev commented on #1034
We have integration tests with EKS but we normally test on the oldest supported release (I believe 1.18 or 1.19 today). Is this failing for you on the latest K8s with EKS? I will try to reproduce it with the latest one

[2022-03-21 12:02] Starslider commented on #1034
yes, both clusters are on v1.21 - thank you very much!

[2022-03-22 17:17] #1034 closed

[2022-03-29 06:46] #1030 closed

[2022-03-29 07:12] snyksec commented on #1030
:tada: This issue has been resolved in version 1.87.0 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.87.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-29 08:02] ivanstanev commented on #1030
Hey @christophernruud, the change is merged but not yet released in the Helm chart. Just need to iron out the OpenShift Operator releases and we will then have the default Helm release vuln-free 😄

[2022-03-31 15:03] ivanstanev commented on #1030
@christophernruud this should now be resolved, the new Helm chart version is available 🙂

[code]

[2022-06-14 23:02] lancehudson opened #1099 "[🐛] Gcloud config dir is not writable"
- `kubernetes-monitor version 1.92.2`
- `Cloud runtime GKE`

### Expected behaviour
Gcloud docker auth helper works

### Actual behaviour
gcloud is unable to create temp tokens because `/srv/app/.config/gcloud` is not writable

### Steps to reproduce
Deploy monitor with helm using gcloud cred helpers
[code]

[2022-06-15 09:24] kat1906 commented on #1099
@lancehudson what version of GKE are you using?

[2022-06-15 09:24] dkontorovskyy commented on #1099
@lancehudson thanks for opening this issue!

Could you provide the K8S version you're running, and any configuration technicalities in your cluster, so it would be easier for us to reproduce, please?
Are your GCR and GKE in the same project or any other setup info that might help us to reproduce the issue?

Best,
Daniel

[2022-06-17 21:00] lancehudson commented on #1099
GKE v1.20.11-gke.1300
Same Project

It isn't related to the cluster. Your HELM chart marks the root FS as ready only (GOOD), but the gcloud cli defaults to storing its config in `/srv/app/.config/gcloud`. It isn't writeable because it isn't marked as a volume and the root is read only.

This is my helm values file:

[code]

I have worked around the issue by setting the ENV var `CLOUDSDK_CONFIG` wh

[2022-07-12 09:21] #1099 closed

[2022-07-12 09:44] snyksec commented on #1099
:tada: This issue has been resolved in version 1.93.0 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.93.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-12 12:20] snyksec opened #1158 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `staging` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure

[2022-09-12 13:11] dkontorovskyy commented on #1158
Resolved :)
Was a github glitch

[2022-09-12 13:11] #1158 closed

[2022-09-28 12:39] Laffs2k5 opened #1165 "[🙏] Add support for extra volumes and volumemounts in `snyk-monitor` helm chart"
**Describe the user need**

I would love to see the `snyk-monitor` helm chart extended with the possibility to add custom volumes and volume mounts. From other helm charts I'm used to see `extraVolumes: []` and `extraVolumeMounts: []` in the values.yaml.

**Describe expected behaviour**

I would like the possibility to specify something like this in our values.yaml (like in the official filebeat c

[2022-09-28 12:56] kat1906 commented on #1165
hi @Laffs2k5, thanks for raising this issue. I will discuss it with the team and get back to you 😃

[2022-09-29 11:40] Laffs2k5 commented on #1165
Thanks, I'll get back to you 👍

[2022-10-01 18:00] Laffs2k5 commented on #1165
There ⬆
Have a nice weekend.

[2022-10-06 09:53] #1165 closed

[2022-10-06 10:11] snyksec commented on #1165
:tada: This issue has been resolved in version 1.97.0 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.97.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-10 21:47] bert-huang opened #1172 "[🙏] Add ability to target specific namespaces"
**Describe the user need**
Currently, the `kubernetes-monitor` by default scans for pods in all namespaces (with some default exclusions), and have the capability to exclude namespaces via the `excludedNamespaces` option.

It will be useful if there is the ability to target specific namespaces instead of having to find all other namespaces to exclude.

**Describe expected behaviour**
Have the abil

[2022-10-11 09:58] kat1906 commented on #1172
hi @bert-huang, we already provide this functionality - please see here: https://github.com/snyk/kubernetes-monitor/issues/1172

Let me know if this is suitable for your use case :)

[2022-10-11 19:10] bert-huang commented on #1172
Hi @kat1906, sorry but the issue link you've provided links to this issue. I've checked the source and seems the only way to target a specific namespace at the moment is by excluding all others using `excludedNamespaces`.

[2022-10-12 09:29] kat1906 commented on #1172
sorry, not sure why that happened - I meant this link: https://github.com/snyk/kubernetes-monitor#installation-from-yaml-files

[2022-10-12 22:52] #1172 closed

[2022-10-26 09:15] #697 closed

[2022-10-26 09:35] snyksec commented on #697
:tada: This issue has been resolved in version 1.98.0 :tada:

The release is available on [GitHub release](https://github.com/snyk/kubernetes-monitor/releases/tag/v1.98.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-31 15:02] ajchiarello opened #1193 "[🐛]Error upgrading to chart 1.98.0"
- Upgrading from version 1.92.2 to 1.98.0

### Expected behaviour
Upgrade succeeds.

### Actual behaviour
I receive this error in the upgrade:
`Error: UPGRADE FAILED: template: snyk-monitor/templates/psp.yaml:1:14: executing "snyk-monitor/templates/psp.yaml" at <.Values.psp.enabled>: nil pointer evaluating interface {}.enabled`

### Steps to reproduce
run a helm upgrade from the old version to the

[2022-11-04 12:14] DmitriyStoyanov commented on #1193
Looks like this issue still not solved, with 1.99.0 version of chart,
During upgrade from 1.97.2 to the  latest version 1.99.0, i see the same error and when I fully destroy namespace with deployed there snyk-monitor, it cannot be installed again from scratch, I see the same error:
[code]

[2022-11-15 18:31] bugwrangler opened #1205 "Snyk K8S Integration | Allow anonymous user to push results to any Org 🐛"
### Expected behaviour
Snyk should only allow authenticated users to push results,  This should be based on authorization to service or user API token.

### Actual behaviour
Allow anonymous users to push results to any Org (NO  Snyk API key needed)

### Steps to reproduce
helm repo add snyk-charts https://snyk.github.io/kubernetes-monitor --force-update
kubectl create namespace snyk-monitor
kubect

[2022-11-16 09:17] ivanstanev commented on #1205
Hey @bugwrangler ,

Thank you for raising this issue. We are aware of the behaviour which you describe and after a thorough investigation and analysis from our applications security team, we consider it unlikely that it would have any significant impact on us or any customer.

We do plan to improve on this behaviour in the near future in line with a larger engineering effort that is currently bein

[2022-11-16 09:17] #1205 closed

[2022-11-16 10:02] bugwrangler commented on #1205
@ivanstanev  How would you say this would not be a significant impact on your customers? I am one of your enterprise customers. An Enterprise group member can fetch all Organisation IDs using the API,
using the Org ID all of our engineers (approx 1k+) are allowed to push results to the Snyk Platform on any random ORg.

Are you suggesting Snyk engineering team is promoting API which doesn't have Au

[2022-11-16 10:11] bugwrangler commented on #1205
API doesn't have API authentication is a vulnerability, This API endpoint should be fixed or deprecated - https://github.com/OWASP/API-Security/blob/master/2019/en/src/0xa2-broken-user-authentication.md

[2022-11-17 03:00] phyzical commented on #566
Incase others run into this it should just be the following

[code]

[2022-11-18 02:01] phyzical opened #1209 "[🐛] Having trouble pulling private images during workload scans"
- 1.99.2
- EKS

### Expected behaviour
Should get aws_auth to pull private ecr images

### Actual behaviour
[code]

### Steps to reproduce
Hey So we are use AWS so eks and ecr and we run everything on fargate including snyk

Our ecrs are in a separate account to where the eks is hosted, we use the principle org approach for allows access so every account in our org should be able to see it.

ive c